$primary:#EDF4EE !important;
$secondary:#2A8356 !important;
$dark:#121212 !important;
$danger: #E3006E!important;
$light:#CDDDCD !important;
$gray:#0000009A !important;
$gray-500:#707070!important;
$white: #FFFFFF !important;

// text
.text-primary{
    color:$primary;
}
.text-secondary{
    color:$secondary;
}
.text-dark{
    color:$dark;
}
.text-light{
    color:$light;
}
.text-gray{
    color:$gray;
}
.text-gray-lighter{
    color:$gray-500;
}
.text-white{
    color:$white;
}

// background
.bg-primary{
    background-color: $primary;
}
.bg-secondary{
    background-color: $secondary;
}
.bg-light{
    background-color: $light;
}
.bg-gray{
    background-color: $gray;
}
//border
.border-primary{
    border:1px solid $primary;
}
.border-secondary{
    border:1px solid $secondary;
}
.border-light{
    border:1px solid $light;
}
.border-gray{
    border:1px solid $gray;
}
.border-top-0{
    border-top: none !important;
}
.border-top{
    border-top: 1px solid #000000 !important;
}
.border-bottom{
    border-bottom: 1px solid #000000 !important;
}


