.page-link{
    color:$secondary;
    &:hover{
        background-color: $secondary ;
        color:#fff !important;
    }
    &-active{
        background-color: $secondary;
        color:#fff !important;
    }
}